/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/



@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=block");*/
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.hidden {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }
.filler {
  
  flex: 1 1 auto;
}

table {
  overflow: scroll;
  width: 100%;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
  pointer-events: none;
}

.mat-row,
.mat-header-row {
  overflow: auto;
  width: 2800px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}*/
