<a [routerLink]="['../AddCompany']">Add ITEM CODE</a>
<!--<table border="1" class="table">
  <thead class="thead-dark">
    <tr>
      <th>Items</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of Companys">
      <td class="hidden">{{x.ID}}</td>
      <td>{{x.COMPANYNAME}}</td>

      <td>
        <button (click)="deleteCompany(x)" class="btn btn-info"> Delete</button>
        <button (click)="editCompany(x)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>
      </td>

    </tr>
  </tbody>-->
  <!--<tfoot>
    <tr><td colspan="3"><jw-pagination [items]="userpage" (changePage)="onChangePage($event)"></jw-pagination></td></tr>

  </tfoot>-->
<!--</table>-->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="COMPANYNAME">
      <th mat-header-cell *matHeaderCellDef> ITEM CODE NAME </th>
      <td mat-cell *matCellDef="let row"> {{row.COMPANYNAME}} </td>
    </ng-container>
    <ng-container matColumnDef="Edit/Delete">
      <th mat-header-cell *matHeaderCellDef> Edit/Delete </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="editCompany(row)" style="margin-right: 10px;" class="btn btn-info">  <mat-icon>edit</mat-icon></button>
        <button (click)="deleteCompany(row)" class="btn btn-info">  <mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
