<div class=" card mt-4">
  <div class="card-header">
    <h3>Add/Edit ITEM</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="MaterialForm" class="example-container col-md-6">

      <mat-form-field>
        <input matInput placeholder="ITEMS_DESCRIPTION" formControlName="ITEMS_DESCRIPTION" [ngClass]="{ 'is-invalid': submitted && f.ITEMS_DESCRIPTION.errors }">
        <mat-error *ngIf="submitted && f.ITEMS_DESCRIPTION.errors">Item is required</mat-error>

      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <select formControlName="TYPE" matNativeControl name="TYPE">
          <option value="" selected></option>
          <option *ngFor="let Type of Type" [value]="Type.value">
            {{Type.text}}
          </option>
        </select>
      </mat-form-field>


      <button mat-raised-button color="primary" [disabled]="loading" *ngIf="btnvisibility" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
      <button mat-raised-button color="primary" [disabled]="loading" *ngIf="!btnvisibility" (click)="onUpdate()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Update
      </button>
    </form>
  </div>
</div>
