


  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">Application</h1>
    <span class="filler"></span>
    <span class="userfont">Welcome</span><span>  {{ UserName}}</span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>LogOut</button>
    </mat-menu>
  </mat-toolbar>

<!--<mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>-->


<div class="container">
  <h1>Welcome</h1>
  <div class="row">
    
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Stationary</h3>
        </div>
        <div class="card-body">

          <button routerLink="/stationary">stationary</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div class=" card mt-4">
        <div class="card-header">
          <h3>IT</h3>
        </div>
        <div class="card-body">
          <button routerLink="/IT">IT</button>
        </div>
      </div>
    </div>

  </div>
</div>





