<style>
  button{
    position:relative;
  }
  .hardware:before {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  }
  .hardware {
    width: 100%;
    
   
    height: 100%;
    background-image: url("../assets/hardware.jpg");
    background-size: cover;
    background-position-y: -20vh;
  }

  .stationary{
    width: 100%;
  
    height: 100%;
    background-image: url("../assets/stationary.jpg");
    background-size: cover;
    background-position-y: -20vh;
  }
</style>

  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">Application</h1>
    <span class="filler"></span>
    <span class="userfont">Welcome</span><span>  {{ UserName}}</span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>LogOut</button>
    </mat-menu>
  </mat-toolbar>

<!--<mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>-->


<div class="container">
  <h1>Welcome</h1>
  <div class="row">
    
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="card-header bg-info text-white">
          <h3>Stationery</h3>
        </div>
        <div class="card-body stationary">
          <!--<img src="C:\Users\Administrator\Source\repos\angular\stationaryr\wwwroot\hardware.jpg" />-->

          <button mat-raised-button color="primary" routerLink="/stationary">stationery</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div class=" card mt-4">
        <div class="card-header bg-info text-white">
          <h3>IT</h3>
        </div>
        <div class="card-body hardware">

          <button mat-raised-button color="primary" routerLink="/IT">IT</button>
        </div>
      </div>
    </div>

  </div>
</div>





