<div class=" card mt-4">
  <div class="card-header">
    <h3>Add/Edit Request</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="RequestForm" class="example-container col-md-8">
      <div formArrayName="ORDERITEM" *ngFor="let item of RequestForm.get('ORDERITEM').controls; let i = index" class="form-group">
        <div [formGroupName]="i">
          <div class="row">
            <input type="hidden" formControlName="ID" />
            <div class="col-md-10 border">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <!--<mat-label>Item</mat-label>-->
                    <select formControlName="CATEGORY" placeholder="CATEGORY" matNativeControl name="Category+i" #category (change)="categorychange(category.value,i)" [ngClass]="{'disabled': role}">
                      <option value="" selected></option>
                      <option *ngFor="let Cat of Category;let i = index" [value]="Cat.ITEMCODE">
                        {{Cat.ITEMS_DESCRIPTION}}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field *ngIf="subcategory">
                    <!--<mat-label>Item Type</mat-label>-->
                    <select ngModel formControlName="SUBCATEGORY" placeholder="SUBCATEGORY" matNativeControl name="SUBCATEGORY+i" #subcategory (change)="subcategorychange(subcategory.value,i)" [ngClass]="{'disabled': role}">
                      <option value="" selected></option>
                      <option *ngFor="let Sub of finaldata[i]; let i = index" [value]="Sub.ID">
                        {{Sub.DESCRIPTION}}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field *ngIf="subchildcategory">
                    <!--<mat-label>Item Sub Type</mat-label>-->
                    <select formControlName="SUBCHILDCATEGORY" placeholder="SUBCHILDCATEGORY" matNativeControl name="SUBCHILDCATEGORY+i" #subchildcategory (selectionChange)="subchildcategorychange(subchildcategory.value)" [ngClass]="{'disabled': role}">
                      <option value="" selected></option>
                      <option *ngFor="let SubChild of SubChildCategory ;let i = index" [value]="SubChildCategory.ID">
                        {{SubChildCategory.ITEMS_DESCRIPTION}}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput numbersOnly  placeholder="Avaiable Quantity" disabled value="2">

                  </mat-form-field>
                </div>

                  <div class="col-md-2">

                    <mat-form-field>
                      <input matInput numbersOnly required placeholder="QUANTITY" formControlName="QUANTITY" id="QUANTITY+{{i}}">

                    </mat-form-field>
                  </div>
                  <div class="col-md-1">
                    <button *ngIf="RequestForm.get('ORDERITEM').length>1" (click)="deleteitem(i)" class="btn btn-sm"><mat-icon>delete_forever</mat-icon></button>

                  </div>
                </div>
              </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-sm" type="button" (click)="addItemButtonClick()" [disabled]="RequestForm.get('ORDERITEM').controls.errors" style="margin-right:10px">Add Item</button>


            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="loading" *ngIf="btnvisibility" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
      <button mat-raised-button color="primary" [disabled]="loading" *ngIf="!btnvisibility" (click)="onUpdate()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Update
      </button>
    </form>

    </div>
