
  <form [formGroup]="UnitsForm" class="example-container col-md-6">
   
    <mat-form-field>
      <input matInput placeholder="UNITS_DESCRIPTION" formControlName="UNITS_DESCRIPTION" [ngClass]="{ 'is-invalid': submitted && f.UNITS_DESCRIPTION.errors }">
      <mat-error *ngIf="submitted && f.UNITS_DESCRIPTION.errors">Item is required</mat-error>

    </mat-form-field>
   


    <button mat-raised-button color="primary" [disabled]="loading" *ngIf="btnvisibility" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Submit
    </button>
    <button mat-raised-button color="primary" [disabled]="loading" *ngIf="!btnvisibility" (click)="onUpdate()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Update
    </button>
  </form>
