
<app-nav-menu>

</app-nav-menu>
<h2>Welcome</h2>




<!--<mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>-->
<!--<h1 class="example-app-name">Stationary</h1>

<div class="container-fluid">
  <h1>Welcome</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Stationary</h3>
        </div>
        <div class="card-body">

          <a routerLink="/stationarydepart">Heroes</a>
        </div>
      </div>

      <div class=" card mt-4">
        <div class="card-header">
          <h3>IT</h3>
        </div>
        <div class="card-body">
          IT
        </div>
      </div>
    </div>
  </div>
</div>-->
