
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="appDrawer.toggle()"><mat-icon>menu</mat-icon></button>
      <!--<mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>-->
      <button mat-icon-button (click)="redirecthome()"><mat-icon>home</mat-icon></button>
      <h1 class="example-app-name">IT</h1>
      <span class="filler"></span>
      <span class="userfont">Welcome</span><span>  {{ UserName}}</span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>LogOut</button>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #appDrawer [(opened)]="opened" [mode]="mobileQuery.matches ? 'slide' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
        
         
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </mat-nav-list>
      </mat-sidenav>
      <!--<app-top-nav fxHide.xs></app-top-nav>-->
      <div class="container-fluid">
        <div class="row no-gutters ">
          <div class="col-md-12 mr-4">
            <router-outlet>
            </router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-container>
    <!--<p *ngFor="let content of fillerContent">{{content}}</p>-->


  </div>


