
  <form [formGroup]="UsersForm" class="example-container col-md-6"  autocomplete="off">

    <mat-form-field>
      <input matInput placeholder="USERNAME" formControlName="UserName" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
      <mat-error *ngIf="submitted && f.UserName.errors">USERNAME is required</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="EMAILID" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
      <mat-error *ngIf="submitted && f.Email.errors?.required">EMAILID is required</mat-error>
      <mat-error *ngIf="f.Email.errors?.email">Email must be a valid email address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="PhoneNumber" formControlName="PhoneNumber" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }">
      <mat-error *ngIf="submitted && f.PhoneNumber.errors?.required">PHONENO is required</mat-error>
      <mat-error *ngIf="f.PhoneNumber.errors?.minlength">PHONENO must be at least 10 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>DEPARTMENT</mat-label>
      <select formControlName="Department" matNativeControl name="Department" #department>
        <option value="" selected>Choose</option>
        <option *ngFor="let Dept of Department" [value]="Dept.ID">
          {{Dept.NAME}}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ROLES</mat-label>
      <mat-select multiple formControlName="Roles" matNativeControl name="Roles">

        <mat-option *ngFor="let role of Roles" [value]="role.Name">
          {{role.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   <div *ngIf="passwordhide">

        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="NewPassword" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }">
          <mat-error *ngIf="submitted && f.NewPassword.errors?.required">PASSWORD is required</mat-error>

        </mat-form-field>
        <!--<mat-form-field>
          <input matInput placeholder="Compare Password" type="password" formControlName="ComparePassword" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f.ComparePassword.errors }">
          <mat-error *ngIf="submitted && f.ComparePassword.errors?.required">PASSWORD is required</mat-error>
          <mat-error *ngIf="submitted && f.ComparePassword.errors?.mustMatch">PASSWORD must match</mat-error>

        </mat-form-field>-->
      </div>
    
   

    <button mat-raised-button color="primary" [disabled]="loading" *ngIf="btnvisibility" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Submit
    </button>
    <button mat-raised-button color="primary" [disabled]="loading" *ngIf="!btnvisibility" (click)="onUpdate()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Update
    </button>
  </form>
